html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #1f1c1c;
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    max-width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: aqua;

}

a:hover {
    color: blueviolet;
}

nav {
    a {
        color: antiquewhite;
        font-weight: bold;
        font-family:monospace;
    }
    a:hover{
        color:aqua;
    }

}
figcaption {
    font-size: medium;
    color: grey;
}

#heading {
    position: relative;
    text-align: center;
    padding-bottom: 50px;
}

#container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.article {
    margin-left: 5%;
    margin-right: 5%;
}

.title_text {
    color:antiquewhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

img.title-image {
    filter: brightness(50%);
    max-width: 75%;
}

.tableau {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}


.article-table {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    align-items: center;

}

.article-img {
    width: 100%;
    border-radius: 10px;
}

.article-link {

    color: antiquewhite;
    font-weight: bold;
    font-family:monospace;
    font-size: xx-large;
}

.article-ling:hover {
    color: aqua;
}